<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopStreamDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <DesktopStreamDownloader.Properties.Settings>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultQuality" serializeAs="String">
                <value>480p</value>
            </setting>
            <setting name="InvidiousInstance" serializeAs="String">
                <value>http://iteroni.com</value>
            </setting>
            <setting name="TLS12" serializeAs="String">
                <value>False</value>
            </setting>
        </DesktopStreamDownloader.Properties.Settings>
    </userSettings>
</configuration>
